{% extends 'main.html' %}
{% block content %}
{% if suc != '' %}
<p style="color: green; text-align: center">{{suc}}</p>
{% endif %}
{% if error != '' %}
<p style="color: red; text-align: center">{{error}}</p>
{% endif %}

<h2 align="center">Авторизация</h2>
<div class="detail_new">
    <form method="post">
        {% csrf_token %}
        <p>
            <label>Login:</label>
        </p>
        <p>
            <input type="text" name="login" required>
        </p>
          <p>
            <label>Password:</label>
        </p>
         <p>
            <input type="password" name="password" required>
        </p>

        <p>
            <button>Авторизация</button>
        </p>
    </form>
</div>
{% endblock %}