{% extends 'main.html' %}

{% block title %}{{new.title}}{% endblock %}

 {% block content %}
<h2 align="center">{{new.title}}</h2>
<div class="detail_new">
    <p align="center">
        <img src="/media/{{new.image}}" width="60%">
    </p>
    <p>
        <b>Автор:</b> {{new.author}}
    </p>
    <p>
        {{new.description}}
    </p>
    <p>
        <b>Дата добавления новости:</b>{{new.create_at}}
    </p>
    <p>
        <b>Количество просмотров: </b>{{count.count}}
    </p>
</div>
{% endblock %}